.stackanswer-position {
    position: fixed;
    right: 1%;
    top: 10%;
}
.stackanswer-container {
   
    background-color: rgb(251, 251, 251, 0.95);
    padding: 16px;
    border-radius: 16px;
   
    /* margin: 8px; */
    border: 2px solid #ddd;
    width: 250px;
    font-size: 12px;
}

#stackanswer-about{
    margin-top: 8px;
}


.stackanswer-img-div{
    display: flex;
    margin-bottom: 8px;
}

.stackanswer-logo {
    margin-left: auto;
    margin-right: auto;
}
.stackanswer-action {
    border: 1px solid;
    color: rgb(46, 39, 36);
    border-radius: 8px;
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}


.stackanswer-action label {
    cursor: pointer;


}
.stackanswer-active {
    padding: 8px;
    background-color: rgba(218,118,45, 0.14);
    border-radius: 8px;
    display: flex;
    color: rgb(218, 118, 45);
    border: 1px solid;

}

.stackanswer-hide {
    display: none;
}


.stackanswer-accepted-not-found {
    color: rgb(228, 75, 75);
}
.stackanswer-answer {
    box-shadow: rgba(32, 225, 125, 0.2) 0px 7px 29px 0px;
    border-radius: 16px;
    margin-top: 8px;
    padding-left: 6px;;
}

#stackanswer-link {
    color: rgb(11, 98, 174);
    cursor: pointer;
    font-weight: bold;
}

.text-center {
    text-align: center;
}


#minus-icon {
    position: absolute;
  left: 8px;
  top: 8px;
}

.stackanswer-settings {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    text-align: left;
}

.stackanswer-settings label {
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.stackanswer-settings input[type='checkbox'] {
    margin-right: 10px;
}
